{% extends "base.html" %} {% block content %}

<h1>{{ location.name }}</h1>
{% if location.photo %}
<img src="{{ location.photo.url }}" width="500" height="500">
{% endif %}
<p>About {{ location.name }}: {{ location.description }}</p>


<form method="post" id="change">
    {% csrf_token %}
    <select name="status" id="status">
        <option selected="selected" disabled>Status:</option>
        <option value="none">None</option>
        <option value="want">Want to visit</option>
        <option value="visited">Visited</option>
    </select>
    <button form="change">Change status</button>
</form>

{% if success %}
<p>Changed successfully</p>
{% endif %}


<ul>
{% for review in reviews %}
   <li><a href="{% url 'sightseeing:review:detail' review.id %}", style="color:green">{{ review.id }}) {{ review.location }} - by {{ review.user.username }}</a></li>
{% empty %}
    <p>
        No existing reviews for this location.        
    </p>
{% endfor %}
</ul>

{% endblock %}