<div>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

<a href="{% url 'sightseeing:index' %}">Home</a>

{% if logged %}
<a style="color:blue;text-align:center" href="{% url 'sightseeing:logout' %}">Log out</a>
<a style="color:red;text-align:center" href="{% url 'sightseeing:profile:update' request.user.userprofile.id %}">Update profile</a>
<a style="color:red;text-align:center" href="{% url 'sightseeing:profile:detail' request.user.userprofile.id %}">See profile</a>

{% else %}
<a style="color:blue;text-align:center" href="{% url 'sightseeing:login' %}">Log in</a>
<a style="color:blue;text-align:center" href="{% url 'sightseeing:signup' %}">Sign up</a>
{% endif %}

<br>
{% block content %} {% endblock %}
</div>